* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-hbs.Cyrl-Latn.dix -text
/apertium-hbs.hbs-coarse.tsx -text
/apertium-hbs.hbs-fine-grained.tsx -text
/apertium-hbs.hbs-semi-coarse.tsx -text
/apertium-hbs.hbs.acx -text
/apertium-hbs.hbs.metadix -text
/apertium-hbs.hbs.rlx -text
/apertium-hbs.hbs.tsx -text
/apertium-hbs.pc.in -text
/apertium-hbs.post-hbs.dix -text
/autogen.sh -text
/configure.ac -text
dev/ConstraintGrammar-Croatian.rlx -text
/export-lexicon.ap-me.py -text
/export-lexicon.ap-me.sh -text
/hbs-coarse.prob -text
/hbs-fine-grained.prob -text
/hbs-semi-coarse.prob -text
/hbs-supervised.make -text
/hbs-supervised.make.stderr -text
hbs-tagger-data/hbs.crp -text
hbs-tagger-data/hbs.crp.txt -text
hbs-tagger-data/hbs.dic -text
hbs-tagger-data/hbs.tagged -text
hbs-tagger-data/hbs.tagged.txt -text
hbs-tagger-data/hbs.untagged -text
/hbs.prob -text svneol=unset#unset
/modes.xml -text
