* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/README -text
/TODO -text
/alt.xsl -text
/apertium-hbs-0.5.pc.in -text
/apertium-hbs.hbs.metadix -text
/apertium-hbs.hbs.rlx -text
/apertium-hbs.post-hbs.dix -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
