/.deps
/Makefile
/Makefile.am.tmp
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-hbs.pc
/autom4te.cache
/config.log
/config.status
/configure
/hbs.automorf.att.gz
/hbs.automorf.bin
/hbs.rlx.bin
/hbs_BS.autogen.att.gz
/hbs_BS.autogen.bin
/hbs_BS.autopgen.bin
/hbs_HR.autogen.att.gz
/hbs_HR.autogen.bin
/hbs_HR.autopgen.bin
/hbs_SR.autogen.att.gz
/hbs_SR.autogen.bin
/hbs_SR.autopgen.bin
/install-sh
/missing
/modes
